.DS_Store
Thumbs.db
.vscode/
__pycache__/
*.pyc
*_bk/
*.elf
*.o
*.bin
*.map
*.lst
*.hex
*.log
*.jou
*.wlf
*.tmp
transcript
*.gtkw
*.fst
*.vcd
*.vvp
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.backup.jou
*.backup.log
*.bit
*.rpt
c_build/out/
build_xilinx/RiscV_WebSoC.bit
build_xilinx/*.log
build_xilinx/*.jou

# LibreOffice lock files
.~lock.*
a.out
